.cart {
  font-weight: bold;
}
.cart ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 15rem;
  overflow: auto;
}

.order-total {
  display: flex;
  justify-content: space-between;
  padding-top: 0.4rem;
}

.cart-btns {
  margin-top: 0.4rem;
  display: flex;
  justify-content: flex-end;
}

.btn {
  border-radius: 25px;
  padding: 0.55rem 2rem;
  cursor: pointer;
  font-weight: bold;

  margin: 0.25rem;
}

.close-btn {
  border: 1px solid #4d1601;
  color: #4d1601;
}
.order-btn {
  background-color: #4d1601;
  color: white;
}

.close-btn:active,
.close-btn:hover {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.order-btn:active,
.order-btn:hover {
  background-color: white;
  border-color: #5a1a01;
  color: #5a1a01;
}

.cart .checkout-feedback {
  text-align: center;
}

.cart .checkout-feedback p {
  font-weight: 500;
}

.cart .checkout-feedback button {
  border-radius: 25px;
  padding: 0.55rem 1rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #4d1601;
  color: white;
  margin: 0.25rem;
}

.cart .checkout-feedback button:hover,
.cart .checkout-feedback button:active {
  background-color: white;
  border-color: #5a1a01;
  color: #5a1a01;
}
