.add-btn {
  border: none;
  border-radius: 25px;
  padding: 0.55rem 2.3rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #4d1601;
  color: white;
  margin: 0.25rem;
}

.add-btn:hover,
.add-btn:active {
  background-color: #641e03;
  border-color: #641e03;
}
